.nanobar {
    width: 100%;
    overflow: hidden;
    z-index: 1001;
    height: 2px;
    position: fixed;
    top: 0;
    left: 0;
}

.nanobar__progress {
    width: 100%;
    height: 100%;
    background-color: #33C3F0;
}

.nanobar__tip {
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #33C3F0, 0 0 5px #33C3F0;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translate(0px, -4px);
}